.card-img-top {
  height: 400px;
}
.title {
  margin-left: 20px;
  padding: 30px;
}
.brand {
  font-family: "Times New Roman", Times, serif;
}
.container {
  margin-top: 100px;
  margin-bottom: 50px;
}
